* {
	box-sizing: border-box;
	margin: 0;
}

.black-nav {
	padding: 20px;
	width: 100%;
	background-color: black;
	color: white;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list {
	height: 100px;
	padding-left: 20px;
	border-bottom: 1px solid grey;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

button {
	background-color: white;
	margin: 10px;
}

.blog-title {
	padding-right: 10px;
}

.button-container {
	padding: 10px;
}

.modal {
	margin: 10px;
	padding: 20px;
	/*	display: flex;
	flex-direction: column;
	justify-content: space-around;*/
	background-color: antiquewhite;
	font-size: 20px;
	display: fixed;
	position: fixed;
	top: 30vh;
	left: 10%;
	width: 80%;
	z-index: 20;
}
.h-100 {
	height: 140px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.75);
	z-index: 1;
}

.pointer {
	cursor: pointer;
}

.input-container {
	width: 300px;
	margin: auto;
	display: flex;
	justify-content: center;
	padding: 1px;
	align-items: center;
}

input {
	width: 200px;
	height: 30px;
}

button {
	height: 30px;
}
